.section{
    .slide{
        background-position: center center;
        background-repeat: no-repeat; background-size: cover
    }
}
.fp-slidesNav {
    text-align: center;
    * {
        margin-bottom: auto!important;
    }
}